<template name="Header">
  <img style="max-height: 250px" class="ui fluid image" src="/images/HelloWorld.jpg">
  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Campus Jam</h1></a>
      <a class="{{ isActiveRoute 'Login_page'}} item" href="{{ pathFor 'Login_page' }}">Login </a>
      <a class="{{ isActiveRoute 'User_home_page'}} item" href="{{ pathFor 'User_home_page' }}">User home</a>
      <a class="{{ isActiveRoute 'Admin_home_page'}} item" href="{{ pathFor 'Admin_home_page' }}">Admin home</a>
      <a class="{{ isActiveRoute 'User_profile_page'}} item" href="{{ pathFor 'User_profile_page' }}">User profile</a>
      <a class="{{ isActiveRoute 'Browse_users_page'}} item" href="{{ pathFor 'Browse_users_page' }}">Browse users</a>
      <a href="#" class="item">{{> loginButtons }} </a>
    </div>
  </div>
</template>